@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/lib/fullcalendar/core/main.min.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/core/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/daygrid/main.min.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/timegrid/main.min.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.min.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.min.css" rel="stylesheet" />


    
}


<div id="calendar">
</div>


@section Scripts {
    <script src="~/lib/fullcalendar/core/main.min.js"></script>
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.min.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.min.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales/tr.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.min.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.min.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid',"timeGrid", "list", "bootstrap"],
                themeSystem: "bootstrap",
                bootstrapFontAwesome: {
                   listweek:'list-ol'
                },
                locale: "tr",
                header: {
                    left: "prev,next,today",
                    center: "title",
                    right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek"
                },
                slotDuration : "00:15:00",
                slotLabelFormat: {
                    hour : "numeric",
                    minute: "2-digit",
                    meridiem: false,
                },
                handleWindowResize : true,
                fixedWeekCount: true,
                defaultView: "timeGridWeek",
                weekends : false,
                allDaySlot: false,
                minTime: "08:00:00",
                maxTime: "17:30:00",
                titleFormat: {
                    year : "numeric",
                    month:"short",
                    day: "numeric"
                },
                contentHeight: 600,
                
                timeZone: 'UTC',
                events: [
                    {
                        id:'x',
                        title:'Merhaba',
                        start:'2024-01-01T08:00:00.000Z',
                        end: '2024-01-01T10:30:00.000Z'
                    }
                ],
                selectable: true,


                
            });

            calendar.render();
        });

    </script>
}
